[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ciftiTools"]
	path = ciftiTools
	url = https://github.com/mandymejia/ciftitools
	shallow = true
	registered = true
[submodule "fMRIscrub"]
	path = fMRIscrub
	url = https://github.com/mandymejia/fmriscrub
	shallow = true
	registered = true
