[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesfMRI"]
	path = BayesfMRI
	url = https://github.com/mandymejia/bayesfmri
[submodule "ciftiTools"]
	path = ciftiTools
	url = https://github.com/mandymejia/ciftitools
[submodule "fMRIscrub"]
	path = fMRIscrub
	url = https://github.com/mandymejia/fmriscrub
[submodule "fMRItools"]
	path = fMRItools
	url = https://github.com/mandymejia/fmritools
[submodule "templateICAr"]
	path = templateICAr
	url = https://github.com/mandymejia/templateicar
